.appbuilder-page .anything{
    width: 100%;
    margin: 5% 0;
    padding: 0 5%;

    .anything-title{
        h6{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 27px;
            font-family: 'TT-Norms';
            font-weight: normal;
            margin: 5% 0;
        }
    }
    .anything-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 5% 0;
        .anything-item{
            width: 25.9%;
            margin: 0 3.5%;

            .anything-img{
                width:100%;
                height: auto;
                border-radius: 10px;
                transition: 0.3s ease-in-out;
                -webkit-transition: 0.3s ease-in-out;

                &:hover{
                    transform: scale(1.05);
                    -webkit-transform: scale(1.05);
                }
            }

            h6{
                text-align: center;
                font-size: 21px;
                font-family: 'TT-Norms';
                font-weight: normal;
                margin: 5% 0;
                padding: 0 5%;
            }

            p{
                text-align: center;
                font-size: 18px;
                font-family: 'TT-Norms';
                font-weight: normal;
                margin: 5% 0;
                padding: 0 5%;
                height: 80px;
                line-height:2;
            }
        }
    }
}
@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}

@media (max-width: 1400px) {
    .appbuilder-page .anything{
        .anything-title{
            h6{
                font-size: 25px;
            }
        }
        .anything-content{
            margin-bottom: 5%;
            .anything-item{
                width: 25.9%;
                margin: 0 3.5%;
                h6{
                    font-size: 20px;
                }
    
                p{
                    font-size: 17px;
                }
            }
        }
    }
}

@media (max-width: 1050px) {
    .appbuilder-page .anything{
        .anything-title{
            h6{
                font-size: 24px;
            }
        }
        .anything-content{
            margin-bottom: 5%;
            justify-content: center;
            .anything-item{
                width: 43%;
                margin: 3.5%;
                h6{
                    font-size: 18px;
                }
    
                p{
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .appbuilder-page .anything{
        .anything-title{
            h6{
                font-size: 24px;
            }
        }
        .anything-content{
            margin-bottom: 5%;
            justify-content: center;
            align-items: center;
            .anything-item{
                width: 80%;
                margin: 3.5%;
                h6{
                    font-size: 21px;
                }
    
                p{
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .appbuilder-page .anything{
        .anything-title{
            h6{
                font-size: 22px;
            }
        }
        .anything-content{
            margin-bottom: 5%;
            justify-content: center;
            align-items: center;
            .anything-item{
                width: 100%;
                margin: 6% 3.5%;
                h6{
                    font-size: 19px;
                }
    
                p{
                    font-size: 15px;
                }
            }
        }
    }
}