.appbuilder-page .havingan-app {
    width: 100%;
    margin: 5% 0;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .havingan-app-img{
        content: url(../../../../assets/images/AppBuilder/havingan-app-img.png);
        width: 45%;
        height: auto;
        object-fit: cover;
    }
    .havingan-app-back{
        width: 40%;
        height: 80%;
        background: linear-gradient(#FBFFFF, #F7FEFF,  #F1FDFF, #EEFCFF, #EBFCFF, #E5FCFF);
        position: absolute;
        top: auto;
        left: 0;
        border-radius: 0px 25px 25px 0px;
        z-index: -1;
    }

    .havingan-app-content{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 auto;

        h6{
            font-size: 27px;
            font-family: 'TT-Norms';
            font-weight: normal;
            margin-bottom: 2.5%;
        }
        p{
            font-size: 19px;
            font-family: 'TT-Norms';
            line-height: 2;
            margin-bottom: 2.5%;
        }

        .havingan-app-btn{
            width: 180px;
            border-radius: 10px;
            padding: 15px 0px;
            font-size: 18px;
            font-family: 'TT-Norms';
            background-color: #416AFF;
            color: #fff;
            cursor: pointer;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                border: 1px solid #ccc;
                color: #111;
                background: none;
            }
        }
    }
}

@media (max-width:1430px) {
    .appbuilder-page .havingan-app {
        padding: 0 2.5%;
        .havingan-app-img{
            width: 45%;
        }
        .havingan-app-content{
            width: 45%;
    
            h6{
                font-size: 25px;
            }
            p{
                font-size: 17px;
            }
    
            .havingan-app-btn{
                width: 170px;
                padding: 15px 0px;
                font-size: 16px;
            }
        }
    }
}

@media (max-width:1050px) {
    .appbuilder-page .havingan-app {
        padding: 0 2.5%;
        .havingan-app-img{
            width: 50%;
        }
        .havingan-app-content{
            width: 50%;
    
            h6{
                font-size: 23px;
            }
            p{
                font-size: 15px;
            }
    
            .havingan-app-btn{
                width: 150px;
                padding: 12.5px 0px;
                font-size: 13px;
            }
        }
    }
}

@media (max-width:809px){
    .appbuilder-page .havingan-app {
        margin: 5% 0;
        padding: 0 5%;
        flex-direction: column-reverse;
        
        .havingan-app-img{
            width: 100% !important;;
        }
        .havingan-app-back{
            width: 100% !important;;
            height: 60%;
            bottom: 0;
            left: 0;
        }
    
        .havingan-app-content{
            width: 90% !important;
            margin-bottom: 15%;
    
            h6{
                font-size: 27px;
            }
            p{
                font-size: 19px;
            }
    
            .havingan-app-btn{
                width: 180px;
                padding: 15px 0px;
                font-size: 18px;
            }
        }
    }
}

@media (max-width:1050px) {
    .appbuilder-page .havingan-app {
        padding: 0 2.5%;
        .havingan-app-img{
            width: 50%;
        }
        .havingan-app-content{
            width: 50%;
    
            h6{
                font-size: 23px;
            }
            p{
                font-size: 15px;
            }
    
            .havingan-app-btn{
                width: 150px;
                padding: 12.5px 0px;
                font-size: 13px;
            }
        }
    }
}

@media (max-width:560px){
    .appbuilder-page .havingan-app {
        margin: 5% 0;
        padding: 0 2.5%;
        flex-direction: column-reverse;
        
        .havingan-app-img{
            width: 100%;
        }
        .havingan-app-back{
            width: 100%;
            height: 55%;
            bottom: 0;
            left: 0;
        }
    
        .havingan-app-content{
            width: 100%;
            margin-bottom: 15%;
    
            h6{
                font-size: 25px;
                text-align:center;
            }
            p{
                text-align:center;
                font-size: 17px;
            }
    
            .havingan-app-btn{
                width: 160px;
                padding: 12.5px 0px;
                font-size: 16px;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width:410px){
    .appbuilder-page .havingan-app {
        margin: 5% 0;
        padding: 0 2.5%;
        flex-direction: column-reverse;
        
        .havingan-app-img{
            width: 100%;
        }
        .havingan-app-back{
            width: 100%;
            height: 48%;
            bottom: 0;
            left: 0;
        }
    
        .havingan-app-content{
            width: 100%;
            margin-bottom: 15%;
    
            h6{
                font-size: 23px;
                text-align:center;
            }
            p{
                text-align:center;
                font-size: 15px;
            }
    
            .havingan-app-btn{
                width: 150px;
                padding: 10px 0px;
                font-size: 14px;
                margin: 0 auto;
            }
        }
    }
}